.mobile-navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.navbar-button {
  font-size: 22px;
  color: #b9b9b9;
}

.navbar-button-active {
  color: #bbd547;
}

.navbar-button:hover {
  color: #bbd547;
}
