.mobile-menu {
  width: 100%;
  position: absolute;
  bottom: -130px;
  right: 0;
  list-style: none;
  z-index: 100;
}

.mobile-menu-item {
  display: block;
  padding: 7px 15px 4px 15px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
}
.mobile-menu-item:visited,
.mobile-menu-item:hover,
.mobile-menu-item:focus {
  color: #000;
}
