body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.app-wrapper {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fafafa;
}

h2,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menulink a:visited {
  color: #1375b7;
}

.menulink a:hover {
  color: #bbd547;
}

.menulink a:active {
  color: #81b36d;
}

.menulink a:focus {
  color: #418f99;
}

.contentlink:visited,
.contentlink:hover,
.contentlink:active,
.contentlink:focus,
.go-top-button:hover {
  color: #bbd547;
}
