.slider {
  width: 100%;
  margin-bottom: 25px;
  background-color: #f3f3f3;
}

.slider-item-wrapper {
  padding-top: 12px;
}

.slider-image-wrapper {
  background-image: url('/home/olegsvyn/projects/harmonity-test/public/images/dots.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slider-image {
  max-width: 100px !important;
}

.caption {
  padding: 25px 30px;
  background-color: white;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  font-family: 'Arial';
  text-transform: uppercase;
  text-align: left;
  color: #757575;
  font-size: 16px;
}

@media only screen and (min-width: 480px) {
  .slider {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 30px;
  }
  .slider-item-wrapper {
    display: flex;
    align-items: center;
    padding: 30px 25px 30px 50px;
    background-image: url('/home/olegsvyn/projects/harmonity-test/public/images/dots.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .slider-image-wrapper {
    background: none;
    margin-right: 25px;
  }

  .slider-image {
    max-width: 150px !important;
  }
  .caption {
    padding: 0;
    border: none;
    background: none;
    font-size: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .slider {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 50px;
  }
  .slider-item-wrapper {
    padding: 60px 100px;
  }
  .slider-image {
    min-width: 200px !important;
  }
  .caption {
    font-size: 48px;
  }
}

.carousel.carousel-slider {
  position: relative;
}

.control-dots .dot {
  background-color: #bababa !important;
  box-shadow: none !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
}

.control-dots .selected {
  background-color: #bcd546 !important;
  opacity: 1 !important;
}

.carousel .control-next.control-arrow:before {
  content: '>' !important;
  right: 3px;
}

.carousel .control-prev.control-arrow:before {
  content: '<' !important;
  left: 3px;
}

.carousel .control-next.control-arrow:before,
.carousel .control-prev.control-arrow:before {
  bottom: 16px !important;
  position: absolute !important;
  color: black !important;
  font-size: 18px;
  font-weight: 700;
}

.carousel.carousel-slider .control-arrow {
  background: none !important;
  padding: 0 !important;
}

.carousel .control-arrow:focus {
  color: black;
  opacity: 1 !important;
}
